.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App {
  text-align: center;
}

.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 25px;
  background-color: black;
  text-align: center;
  color: white;
}
.form-group,.btn{
  margin-top:10px
}
label,.label{
  font-weight: bold;
}
.user-class{
  color:white;
  text-align: right;
}
.form-inline{
  margin-left: 1180px;
}
.out-div{
  text-align: center;
    margin-top: 100px;
    font-weight: bold;
    font-size: x-large;
}
.user{
  float:right;
}
.container{
  background-image: url("./images/SL_022321_41020_08.jpg");
  image-resolution: 100vh;
  background-size: cover;
  padding-bottom: 300px;
}
#loginbody{
  height: 80vh;
  width:80vh;
  background-color: #bcd0e2;
margin-left: 300px;
margin-top: 100px;
border-radius: 1rem;
}
button .btn btn-success{
 margin-left: 100px;
 margin-top: 50px;
}
.container .row{
  margin-right:0px; 
}
.row .row_span{
  color: rgb(189, 74, 21);
  align-content: center;
  margin-left: 260px;
  padding-top: 20px;
  font-weight: bolder;
  font-style: italic;
}

